.contextLine {
    fill: none;
    stroke: #DEDEDE;
    stroke-width: 1px;
}


.highlightedLine {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.highlightedMarker {
    fill: steelblue;
    stroke: #336790;
    /*stroke-width: 2px;*/
}

.background {
    fill: none;
}
