.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.main {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto 0 auto;
    min-height: 0;
}

.footer {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 50px;
    min-height: 0;
    font-size: 12px;
    color: #515151;
}

.footer hr {
    border: 0;
    border-top: 1px solid #DEDEDE;
}

.header {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 120px;
    min-height: 0;
}


.headerFull {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: center;
    justify-content: center;
}

.loadingMessage {
    font-size: 16px;
    color: darkslategray;
    font-weight: bolder;
    margin: 5px 0 5px 0;
}

.header h1 {
    color: #515151;
    margin-bottom: 5px;
}

.header p {
    color: #515151;
    margin-bottom: 5px;
}

.headerFull h1 {
    font-size: 50px;
    color:  #515151;
}

.headerFull p {
    font-size: 30px;
    color: #515151;
    margin-bottom: 20px;
}


